name : "Testing the Phase 1"

on : [push,pull_request]

jobs : 
  phase1_test :
    runs-on : self-hosted

    strategy:
      matrix:
        python-version : [3.10,3.11]
    
    steps: 
    - uses : actions/checkout@v3
    - name : "Setup python"
      uses : actions/setup-python@v3

    - name : "Install dependencies"
      run : |
        python -m pip install --upgrade pip
        cd phase-1
        pip install -r requirements.txt
    
    - name : "Linting"
      run : |
        cd phase-1/src
        python -m flake8 main.py

    - name : "Run Tests"
      run : |
        cd phase-1
        python -m pytest tests/test_calculator.py
    

  